*{
    margin: 0;
}
img{
    width: 100%;
}
header{
    background-color: darkmagenta;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    padding: 30px;
    align-items: center;
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.icons{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: end;
}
.icons span{
    background-color: #fadbff;
    color: #762283;
    padding: 12px 8px;
    border-radius: 5px;
}