*{
    margin: 0;
    padding: 0px 20px;
}
header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.logo{
    img{
        width: 25%;
    }
}
ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
.container{
    width: auto;
    padding-top: 200px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    img{
        width: 55%;
    }
}
h1{
    font-size: 124px;
}

.Services{
    padding-top: 100px;
}
h2{
    font-size: 72px;
    color: rgb(216, 81, 126);
}
p{
    font-size: 20px;
}
h3{
    font-size: 72px;
    padding-top: 150px;
}
.Products{
    
    display: grid;
    grid-template-columns: 3fr 2fr;
    align-items: center;
    p{
        font-size: 25px;
        font-style: italic;
    }
    span{
        font-size: 25px;
        font-style: italic;
        display: block;
        
    }
}
img{
    width: 75%;
    padding-top: 25px;
}
.aboutus{
    padding-bottom: 20px;
}